# Xcode
.DS_Store
build/
CacaOferta/api_keys.swift
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
aps_development.cer
# Pods - for those of you who use CocoaPods
Pods
